# SPDX-FileCopyrightText: 2021 Comcast Cable Communications Management, LLC
# SPDX-License-Identifier: Apache-2.0

name: CI

on:
  pull_request:
  push:
    paths-ignore:
      - 'AUTHORS'
      - 'LICENSE'
      - 'NOTICE'
      - '**.md'
      - '.gitignore'
    tags-ignore:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    branches:
      - main
  workflow_dispatch:

jobs:
  test-1.1:
    uses: xmidt-org/.github/.github/workflows/meson-unit-test.yml@main
    with:
      # cjson & openssl
      packages: libcjson-dev libssl-dev
      brew-packages: cjson openssl@1.1
      brew-extra: PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig"
      runner-ubuntu: ubuntu-20.04
      sonarcloud-skip: true

    secrets:
      sonar_login: ${{ secrets.SONAR_TOKEN }}

  test-3.x:
    uses: xmidt-org/.github/.github/workflows/meson-unit-test.yml@main
    with:
      # cjson & openssl
      packages: libcjson-dev libssl-dev
      brew-packages: cjson openssl
      sonarcloud-skip: true

    secrets:
      sonar_login: ${{ secrets.SONAR_TOKEN }}
